/* =============================================================================
   FOOTER (components/_footer.scss)
   ========================================================================== */

.c-footer {
	color: $color-tundora;
	font-size: .875rem;
}

.c-footer--bordered {
	border-top: 1px solid $color-gray-50;
}
