{% if page.features.rows or page.features.footer %}
	<div class="u-bg-gray-30 u-pt-8 u-pb-4">
		<div class="o-container">
			{% for row in page.features.rows %}
				{% if row.title or row.description %}
					<div class="o-row">
						<div class="o-col-12 u-mb-4 u-mr-auto">
							{% if row.title %}
								<h2 class="u-h1 u-font-normal">{{ row.title }}</h2>
							{% endif %}
							{% if row.description %}
								<div class="u-text-md">
									<p>{{ row.description }}</p>
								</div>
							{% endif %}
						</div><!-- /.o-col -->
					</div><!-- /.o-row -->
				{% endif %}
				{% if row.grid %}
					<div class="o-row u-mb-5">
						{% for item in row.grid %}
							<div class="o-col-6@md o-col-4@lg u-mb-3">
								<div class="c-feature-card">
									{% if item.icon %}
										<div class="c-feature-card__icon">
											<i class="o-icon o-icon--{{ item.icon }}"></i>
										</div><!-- /.c-feature-card__icon -->
									{% endif %}
									{% if item.title or item.description %}
										<div class="c-feature-card__content">
											<h4 class="c-feature-card__title">{{ item.title }}</h4>
											<p>{{ item.description }}</p>
										</div><!-- /.c-featured-card__content -->
									{% endif %}
								</div><!-- /.c-feature-card -->
							</div><!-- /.o-col -->
						{% endfor %}
					</div><!-- /.o-row -->
				{% endif %}
			{% endfor %}

			<div class="o-row">
				<div class="o-col-12 u-mb-4 u-mr-auto">
					<h2>{{ page.features.slider.title }}</h2>
					<div class="u-text-md">
						<p>{{ page.features.slider.description }}</p>
					</div>

					<div id="how-knewton-works-slider">
						<div class="inner">
		
							<div id="how-knewton-works-slider-content" style="background-image: url({{'/knewton-theme/assets/images/slider/background.jpg' | relative_url }})">
								
								<div class="pane active" id="pane-learner">
									<h4>Learner</h4>
								</div>
		
								<div class="pane" id="pane-partner-applications">
									<h4>Partner Applications</h4>
									<img src="{{ '/knewton-theme/assets/images/slider/computers.png' | relative_url }}">
								</div>
		
								<div class="pane" id="pane-knewton-api">
									<h4>Knewton API</h4>
									<img id="arrows" src="{{ '/knewton-theme/assets/images/slider/arrows.png' | relative_url }}">
									<img id="waves" src="{{ '/knewton-theme/assets/images/slider/waves.png' | relative_url }}">
		
								</div>
		
								<div class="pane" id="pane-knewton-platform">
									<h4>Knewton<br>Platform</h4>
									<ul>
										{% for subcaption in page.features.slider.subcaptions %}
											<li id=" {{subcaption.id}}" class="toggle-subcaption {{ subcaption.pane }}">{{ subcaption.text }}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
		
							<div id="how-knewton-works-slider-captions">
								<a href="javascript:void(0);" title="Previous" alt="Previous" id="prev-pane" class="pane-nav"><img src="{{ '/knewton-theme/assets/images/slider/arrow-left.png' | relative_url }}"></a>
								<div id="captions">
									{% for caption in page.features.slider.captions %}
										<div id="{{ caption.id ]}}" class="caption">
											<h5>{{ caption.title }} </h5>
											<p>{{ caption.description }} <a href="{% if jekyll.environment == 'production' %}{{ site.knewton.baseurl }}{% endif %}{{ caption.url }}">Read more</a></p>
										</div> 
									{% endfor %}
								</div>
								<a href="javascript:void(0);" title="Next" alt="Next" id="next-pane" class="pane-nav"><img src="{{ '/knewton-theme/assets/images/slider/arrow-right.png' | relative_url }}"></a>
							</div>
						</div>
					</div>

					<div class="u-text-md u-pb-8">
						<p>{{ page.features.slider.terminator }}</p>
					</div>

				</div><!-- /.o-col -->
			</div><!-- /.o-row -->

			{% if page.features.footer %}
				<div class="o-row" align="center">
					<div class="o-col-12 u-mb-4 u-mr-auto">
						{% if page.features.footer.title %}
							<h2 class="u-h1 u-font-normal">{{ page.features.footer.title }}</h2>
						{% endif %}
						{% if page.features.footer.description %}
							<div class="u-text-md u-mb-3">
								<p>{{ page.features.footer.description }}</p>
							</div>
						{% endif %}
						{% for button in page.features.footer.buttons %}
							{% if button.external_url == true %}
								{% if button.style == 'filled' %}
									{% if button.icon %}
										<a href="{{ button.url }}" class="c-btn c-btn--gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
											<div class="c-btn__icon">
												<i class="o-icon o-icon--{{ button.icon }}"></i>
											</div>
										</a>
									{% else %}
										<a href="{{ button.url }}" class="c-btn c-btn--gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
										</a>
									{% endif %}
								{% elsif button.style == 'bordered' %}
									{% if button.icon %}
										<a href="{{ button.url }}" class="c-btn c-btn--bordered-gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
											<div class="c-btn__icon">
												<i class="o-icon o-icon--{{ button.icon }}"></i>
											</div>
										</a>
									{% else %}
										<a href="{{ button.url }}" class="c-btn c-btn--bordered-gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
										</a>
									{% endif %}
								{% endif %}
							{% else %}
								{% if button.style == 'filled' %}
									{% if button.icon %}
										<a href="{% if jekyll.environment == 'production' %}{{ site.knewton.baseurl }}{% endif %}{{ button.url }}" class="c-btn c-btn--gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
											<div class="c-btn__icon">
												<i class="o-icon o-icon--{{ button.icon }}"></i>
											</div>
										</a>
									{% else %}
										<a href="{% if jekyll.environment == 'production' %}{{ site.knewton.baseurl }}{% endif %}{{ button.url }}" class="c-btn c-btn--gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
										</a>
									{% endif %}
								{% elsif button.style == 'bordered' %}
									{% if button.icon %}
										<a href="{% if jekyll.environment == 'production' %}{{ site.knewton.baseurl }}{% endif %}{{ button.url }}" class="c-btn c-btn--bordered-gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
											<div class="c-btn__icon">
												<i class="o-icon o-icon--{{ button.icon }}"></i>
											</div>
										</a>
									{% else %}
										<a href="{% if jekyll.environment == 'production' %}{{ site.knewton.baseurl }}{% endif %}{{ button.url }}" class="c-btn c-btn--bordered-gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
										</a>
									{% endif %}
								{% endif %}
							{% endif %}
						{% endfor %}
					</div><!-- /.o-col -->
				</div><!-- /.o-row -->
			{% endif %}

		
		</div><!-- /.o-container -->
	</div>
{% endif %}
