{% if page.features.rows or page.features.footer %}
	<div class="u-bg-gray-30 u-pt-8 u-pb-4">
		<div class="o-container">
			{% for row in page.features.rows %}
				{% if row.title or row.description %}
					<div class="o-row">
						<div class="o-col-12 u-mb-4 u-mr-auto">
							{% if row.title %}
								<h2 class="u-h1 u-font-normal">{{ row.title }}</h2>
							{% endif %}
							{% if row.description %}
								<div class="u-text-md">
									<p>{{ row.description }}</p>
								</div>
							{% endif %}
						</div><!-- /.o-col -->
					</div><!-- /.o-row -->
				{% endif %}
				{% if row.grid %}
					<div class="o-row u-mb-5">
						{% for item in row.grid %}
							<div class="o-col-6@md o-col-4@lg u-mb-3">
								<div class="c-feature-card">
									{% if item.icon %}
										<div class="c-feature-card__icon">
											<i class="o-icon o-icon--{{ item.icon }}"></i>
										</div><!-- /.c-feature-card__icon -->
									{% endif %}
									{% if item.title or item.description %}
										<div class="c-feature-card__content">
											<h4 class="c-feature-card__title">{{ item.title }}</h4>
											<p>{{ item.description }}</p>
										</div><!-- /.c-featured-card__content -->
									{% endif %}
								</div><!-- /.c-feature-card -->
							</div><!-- /.o-col -->
						{% endfor %}
					</div><!-- /.o-row -->
				{% endif %}
			{% endfor %}

			<div class="o-row">
				<div class="o-col-12 u-mb-4 u-mr-auto">
					<h2>How Knewton Works</h2>
					<div class="u-text-md">
						<p>some description</p>
					</div>

					<div id="how-knewton-works-slider">
						<div class="inner">
		
							<div id="how-knewton-works-slider-content">
								
								<div class="pane active" id="pane-learner">
									<h4>Learner</h4>
								</div>
		
								<div class="pane" id="pane-partner-applications">
									<h4>Partner Applications</h4>
									<img src="/knewton-theme/assets/images/slider/computers.png">
								</div>
		
								<div class="pane" id="pane-knewton-api">
									<h4>Knewton API</h4>
									<img id="arrows" src="/knewton-theme/assets/images/slider/arrows.png">
									<img id="waves" src="/knewton-theme/assets/images/slider/waves.png">
		
								</div>
		
								<div class="pane" id="pane-knewton-platform">
									<h4>Knewton<br>Platform</h4>
									<ul>
										<li id="toggle-subcaption-knowledge-graph" class="toggle-subcaption one">Knowledge Graph</li>
										<li id="toggle-subcaption-accounts" class="toggle-subcaption two">Accounts and Profiles</li>
										<li id="toggle-subcaption-registrations" class="toggle-subcaption three">Registrations and<br>Learning instances</li>
										<li id="toggle-subcaption-goals" class="toggle-subcaption four">Goals</li>
										<li id="toggle-subcaption-events" class="toggle-subcaption five">Learner Events</li>
										<li id="toggle-subcaption-recommendations" class="toggle-subcaption six">Recommendations</li>
										<li id="toggle-subcaption-analytics" class="toggle-subcaption seven">Analytics</li>
									</ul>
								</div>
							</div>
		
							<div id="how-knewton-works-slider-captions">
								<a href="javascript:void(0);" id="prev-pane" class="pane-nav"><img src="https://dev.knewton.com/wp-content/themes/dev2/images/arrow-left.png"></a>
								<div id="captions">
									<div class="caption active" id="caption-learner">
										<h5>Learner</h5>
										<p>Learners interact with a partner-product by completing lessons, homework, and assessments.</p>
									</div>
		
									<div class="caption" id="caption-partner-applications">
										<h5>Partner Applications</h5>
										<p>A partner’s learning application sends learner interaction and performance data to Knewton via the Knewton API. <a href="/product/building-a-new-application/">Read more ›</a></p>
									</div>
		
									<div class="caption" id="caption-knewton-api">
										<h5>Knewton API</h5>
										<p>The Knewton API returns personalized recommendations and analytics to the partner’s learning application. <a href="/developer/api-overview/">Read more ›</a></p>
									</div>
		
									<div id="caption-knowledge-graph" class="caption subcaption">
										<h5>Knewton Platform <span>Knowledge Graph</span></h5>
										<p>The Knewton platform maps the pedagogical relationships between the concepts in a partner’s content (lessons, homework, and assessments) to form a “knowledge graph.” Knewton uses this knowledge graph to interpret incoming data and recommend appropriate activities to the the learner. <a href="/product/create-structure-content/">Read more ›</a></p>
									</div>
		
									<div id="caption-accounts" class="caption subcaption">
										<h5>Knewton Platform <span>Accounts and Profiles</span></h5>
										<p>The Knewton platform stores information about the users within the partner application to enable personalized and accelerated learning. <a href="/product/profiles/">Read more ›</a></p>
									</div>
		
									<div id="caption-registrations" class="caption subcaption">
										<h5>Knewton Platform <span>Registrations and Learning Instances</span></h5>
										<p>The Knewton platform records the learning instances (classes, groups) and the registrations (learners, instructors) within those learning instances. <a href="/developer/learning-instances-registrations/ ">Read more ›</a></p>
									</div>
		
									<div id="caption-goals" class="caption subcaption">
										<h5>Knewton Platform <span>Goals</span></h5>
										<p>The Knewton platform stores partner- or instructor-created learning goals (like assignments and quizzes) to define the scope and deadlines used to guide personalized recommendations. <a href="/product/create-goals/">Read more ›</a></p>
									</div>
		
									<div id="caption-events" class="caption subcaption">
										<h5>Knewton Platform <span>Learner Events</span></h5>
										<p>The Knewton platform stores a history of all learner events sent via the API, including recommendations followed. <a href="/product/send-events/">Read more ›</a></p>
									</div>
		
									<div id="caption-recommendations" class="caption subcaption">
										<h5>Knewton Platform <span>Recommendations</span></h5>
										<p>The Knewton platform returns personalized recommendations to the partner’s application. <a href="/product/receive-recommendations/">Read more ›</a></p>
									</div>
		
									<div id="caption-analytics" class="caption subcaption">
										<h5>Knewton Platform <span>Analytics</span></h5>
										<p>The Knewton platform returns inferred metrics to drive visualizations in partner applications. <a href="/product/analyze-progress/">Read more ›</a></p>
									</div>
								</div>
								<a href="javascript:void(0);" id="next-pane" class="pane-nav"><img src="https://dev.knewton.com/wp-content/themes/dev2/images/arrow-right.png"></a>
							</div>
						</div>
					</div>

				</div><!-- /.o-col -->
			</div><!-- /.o-row -->

			{% if page.features.footer %}
				<div class="o-row" align="center">
					<div class="o-col-12 u-mb-4 u-mr-auto">
						{% if page.features.footer.title %}
							<h2 class="u-h1 u-font-normal">{{ page.features.footer.title }}</h2>
						{% endif %}
						{% if page.features.footer.description %}
							<div class="u-text-md u-mb-3">
								<p>{{ page.features.footer.description }}</p>
							</div>
						{% endif %}
						{% for button in page.features.footer.buttons %}
							{% if button.external_url == true %}
								{% if button.style == 'filled' %}
									{% if button.icon %}
										<a href="{{ button.url }}" class="c-btn c-btn--gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
											<div class="c-btn__icon">
												<i class="o-icon o-icon--{{ button.icon }}"></i>
											</div>
										</a>
									{% else %}
										<a href="{{ button.url }}" class="c-btn c-btn--gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
										</a>
									{% endif %}
								{% elsif button.style == 'bordered' %}
									{% if button.icon %}
										<a href="{{ button.url }}" class="c-btn c-btn--bordered-gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
											<div class="c-btn__icon">
												<i class="o-icon o-icon--{{ button.icon }}"></i>
											</div>
										</a>
									{% else %}
										<a href="{{ button.url }}" class="c-btn c-btn--bordered-gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
										</a>
									{% endif %}
								{% endif %}
							{% else %}
								{% if button.style == 'filled' %}
									{% if button.icon %}
										<a href="{% if jekyll.environment == 'production' %}{{ site.knewton.baseurl }}{% endif %}{{ button.url }}" class="c-btn c-btn--gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
											<div class="c-btn__icon">
												<i class="o-icon o-icon--{{ button.icon }}"></i>
											</div>
										</a>
									{% else %}
										<a href="{% if jekyll.environment == 'production' %}{{ site.knewton.baseurl }}{% endif %}{{ button.url }}" class="c-btn c-btn--gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
										</a>
									{% endif %}
								{% elsif button.style == 'bordered' %}
									{% if button.icon %}
										<a href="{% if jekyll.environment == 'production' %}{{ site.knewton.baseurl }}{% endif %}{{ button.url }}" class="c-btn c-btn--bordered-gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
											<div class="c-btn__icon">
												<i class="o-icon o-icon--{{ button.icon }}"></i>
											</div>
										</a>
									{% else %}
										<a href="{% if jekyll.environment == 'production' %}{{ site.knewton.baseurl }}{% endif %}{{ button.url }}" class="c-btn c-btn--bordered-gray c-btn--lg u-text-md u-mr-1 u-mb-2">
											{{ button.label }}
										</a>
									{% endif %}
								{% endif %}
							{% endif %}
						{% endfor %}
					</div><!-- /.o-col -->
				</div><!-- /.o-row -->
			{% endif %}

		
		</div><!-- /.o-container -->
	</div>
{% endif %}
